header{
font-size: 30px;
text-align: center;
image-align:  right;
color: #0E0B01;
background-color: #CFAA14;
}

h1{
font-size: 30px;
text-align: center;
color: #0E0B01;
background-color: #CFAA14
}

p{
font-size: 20px;
text-align: left;
font-family: Helvetica, sans-serif;
}

body {
background-color: #F7ECC8;
}